<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Vehicle Types</div>
        <div class="card-body" style="overflow-x: auto;">
          <table class="table" style="table-layout: fixed;">
            <thead>
              <tr>
                <th style="overflow:hidden;width:200px;">
                  <button class="btn btn-dark btn-sm" (click)="addOrEditVehicleType(0)"><span class="fa fa-plus"></span>
                    Add New</button>
                </th>
                <th style="overflow:hidden;width:100px;">Id</th>
                <th style="overflow:hidden;width:140px;">Name</th>
                <th style="overflow:hidden;width:220px;">Engin Oil Change Milage</th>
                <th style="overflow:hidden;width:220px;">Fuel Filter Change Milage</th>
                <th style="overflow:hidden;width:220px;">GearBox Change Milage</th>
                <th style="overflow:hidden;width:260px;">Differential Oil Change Milage</th>
                <th style="overflow:hidden;width:180px;">Engine Oil Number</th>
                <th style="overflow:hidden;width:180px;">Fuel Filter Number</th>
                <th style="overflow:hidden;width:180px;">Gear BoxOil Number</th>
                <th style="overflow:hidden;width:210px;">Differential Oil Number</th>
                <th style="overflow:hidden;width:160px;">Air Cleaner Age</th>
                <th style="overflow:hidden;width:160px;">Greece Niple Age</th>
                <th style="overflow:hidden;width:160px;">Insurance Age</th>
                <th style="overflow:hidden;width:170px;">Fitness Report Age</th>
                <th style="overflow:hidden;width:160px;">Emition Test Age</th>
                <th style="overflow:hidden;width:190px;">Revenue Licence Age</th>
                <th style="overflow:hidden;width:160px;">Fuel Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vt of vehicleTypes; let i = index">
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteVehicleType(vt.id, i)"><span
                      class="fa fa-trash"></span></button>
                  <button class="btn btn-primary btn-sm ml-2" (click)="addOrEditVehicleType(vt.id, i)"><span
                      class="fa fa-pencil"></span></button>


                </td>
                <td>{{vt.id}}</td>
                <td>{{vt.name}}</td>
                <td>{{vt.engineOilChangeMilage}}</td>
                <td>{{vt.fuelFilterChangeMilage}}</td>
                <td>{{vt.gearBoxChangeMilage}}</td>
                <td>{{vt.differentialOilChangeMilage}}</td>
                <td>{{vt.engineOilNumber}}</td>
                <td>{{vt.fuelFilterNumber}}</td>
                <td>{{vt.gearBoxOilNumber}}</td>
                <td>{{vt.differentialOilNumber}}</td>
                <td>{{vt.airCleanerAge}}</td>
                <td>{{vt.greeceNipleAge}}</td>
                <td>{{vt.insuranceAge}}</td>
                <td>{{vt.fitnessReportAge}}</td>
                <td>{{vt.emitionTestAge}}</td>
                <td>{{vt.revenueLicenceAge}}</td>
                <td>{{vt.fuelTypeName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <br>
      <div class="row m-1">
        <ngb-pagination [collectionSize]="totalRecordCount" [(page)]="currentPage" [pageSize]="pageSize" [maxSize]="8"
          (pageChange)="onPageChange()" aria-label="Default pagination">
        </ngb-pagination>
      </div>

    </div>
  </div>
</div>