<div class="content-card" style="width: 100% !important;">
    <mat-table #table [dataSource]="dataSource" matSort
    [@animateStagger]="{value:'50'}">


<!-- Name Column -->
<ng-container matColumnDef="orderNumber">
 <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
 <mat-cell *matCellDef="let order">
     <p class="text-truncate font-weight-600">{{order.orderNumber}}</p>
 </mat-cell>
</ng-container>

<!-- Roles Column -->
<ng-container matColumnDef="totalQty">
    <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-sm>Roles</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
        <p class="email text-truncate">
            {{order.totalQty}}
        </p>
    </mat-cell>
   </ng-container>

<!-- Email Column -->
<ng-container matColumnDef="total">
 <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-sm>Email</mat-header-cell>
 <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
     <p class="email text-truncate">
         {{order.total}}
     </p>
 </mat-cell>
</ng-container>

<!-- Phone Column -->
<ng-container matColumnDef="status">
 <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-md>Phone</mat-header-cell>
 <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
     <p class="phone text-truncate">
         {{order.status}}
     </p>
 </mat-cell>
</ng-container>

<!-- Phone Column -->
<ng-container matColumnDef="orderDate">
    <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-md>Phone</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
        <p class="phone text-truncate">
            {{order.orderDate}}
        </p>
    </mat-cell>
   </ng-container>

   <ng-container matColumnDef="ownerName">
    <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-md>Owner Name</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
        <p class="phone text-truncate">
            {{order.ownerName}}
        </p>
    </mat-cell>
   </ng-container>

   <ng-container matColumnDef="route">
    <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-md>Phone</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
        <p class="phone text-truncate">
            {{order.route}}
        </p>
    </mat-cell>
   </ng-container>



<!-- Buttons Column -->
<ng-container matColumnDef="buttons">
 <mat-header-cell *matHeaderCellDef></mat-header-cell>
 <mat-cell *matCellDef="let contact">
     <div fxFlex="row" fxLayoutAlign="end center">


         <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                 (click)="$event.stopPropagation();">
             <mat-icon class="secondary-text">more_vert</mat-icon>
         </button>

         <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
             <button mat-menu-item aria-label="remove">
                 <mat-icon>delete</mat-icon>
                 <span>Remove</span>
             </button>
         </mat-menu>
     </div>

 </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let contact; columns: displayedColumns;"
      class="contact"
      [@animate]="{value:'*',params:{y:'100%'}}">
</mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
[pageSizeOptions]="[25, 50, 75, 100]">
</mat-paginator>
</div>



