<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-0" style="margin-top: 10px;">
        <div class="card-header">
          {{recordId === 0 ? "Fitness Report Details: New" : "View Existing Fitness Report Details"}}
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <div class="col-sm-4">
                <label for="registrationNo">Registration No</label>
              </div>
              <div class="col-sm-8">
                <input readonly type="text" id="registrationNo" class="form-control" formControlName="registrationNo">
              </div>
            </div>

            <div class="form-group row" *ngIf="totalRecordCount!=0">
              <div class="col-sm-4">
                <label for="actualFitnessReportDate">Actual Fitness Report Date</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" class="form-control" ngbDatepicker id="actualFitnessReportDate"
                    #actualFitnessReportDate="ngbDatepicker" formControlName="actualFitnessReportDate"
                    (change)="onChangeNFRD()">
                  <button class="input-group-addon" (click)="actualFitnessReportDate.toggle()" type="button">
                    <span class="fa fa-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label for="nextFitnessReportDate">Next Fitness Report Date</label>
              </div>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" class="form-control" ngbDatepicker id="nextFitnessReportDate"
                    #nextFitnessReportDate="ngbDatepicker" formControlName="nextFitnessReportDate">
                  <button class="input-group-addon" (click)="nextFitnessReportDate.toggle()" type="button">
                    <span class="fa fa-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group row" *ngIf="recordId !== 0">
              <div class="col-sm-4">
                <label for="createdOn">Created On</label>
              </div>
              <div class="col-sm-8">
                <input readonly type="text" id="createdOn" class="form-control" formControlName="createdOn"
                  [value]="form.get('createdOn').value | date:'medium'">
              </div>
            </div>

            <div class="form-group row" *ngIf="recordId !== 0">
              <div class="col-sm-4">
                <label for="updatedOn">Last Updated On</label>
              </div>
              <div class="col-sm-8">
                <input readonly type="text" id="updatedOn" class="form-control" formControlName="updatedOn"
                  [value]="form.get('updatedOn').value | date:'medium'">
              </div>
            </div>

            <br>
            <div>
              <button class="btn btn-primary btn-md" type="submit" [disabled]="isReadOnly===true">
                <span class="fa fa-database"></span> Save Data</button>
              <button class="btn btn-danger btn-md ml-2" type="button" (click)="modal.close('Ok Close')">
                <span class="fa fa-window-close"></span> Close</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>