<div id="assets" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Vehicles
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #input (keyup)="applyFilter($event.target.value)" placeholder="Search for Vehcile Type">
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button mat-raised-button (click)="addNewVehicle()" class="add-product-button fuse-white mt-24 mt-md-0"
                matTooltip="Add new route.">
                <span>ADD NEW</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card ">

            <mat-table class="products-table" #table [dataSource]="data" matSort matSortActive="registrationNo" matSortDisableClear matSortDirection="desc" [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>


                <!--Registration No -->
                <ng-container matColumnDef="registrationNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Registration No</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.registrationNo}}</p>
                    </mat-cell>
                </ng-container>

                <!--Vehicel Type -->
                <ng-container matColumnDef="vehicelTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Vehicel Type</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.vehicelTypeName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Initial Odometer Reading -->
                <ng-container matColumnDef="initialOdometerReading">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Initial Odometer Reading</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.initialOdometerReading}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Year -->
                <ng-container matColumnDef="productionYear">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.productionYear}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Is Active -->
                <ng-container matColumnDef="isActive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.isActive}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef>

                    </th>
                    <td mat-cell *matCellDef="let item">
                        <div fxFlex="row" fxLayoutAlign="end center">


                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="edit" (click)="editVehicleType(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item aria-label="remove" (click)="deleteVehicleType(item)">
                                    <mat-icon>close</mat-icon>
                                    <span>Delete</span>
                                </button>

                            </mat-menu>
                        </div>

                    </td>
                </ng-container>




                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[10,25,50,75, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>