


<div id="vehicles">
<mat-table class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
    fusePerfectScrollbar>
    <!-- Reference imageURL -->
<ng-container matColumnDef="imageURL">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell *matCellDef="let item">
        <img class="product-image"  [src]="item.imageURL" style="height: 54px !important;" *ngIf="item.imageURL"/>
        <img class="product-image"  [src]="'assets/images/ecommerce/Image-Not-Available.png'" style="height: 54px !important;" *ngIf="!item.imageURL"/>
    </mat-cell>
</ng-container>

<!-- Name nextInsuranceDate -->
<ng-container matColumnDef="nextInsuranceDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Next Insurance Date</mat-header-cell>
    <mat-cell *matCellDef="let item">
        <p class="text-truncate">
            {{item.nextInsuranceDate | date}}
        </p>
    </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="actualInsuranceDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Actual Insurance Date</mat-header-cell>
    <mat-cell *matCellDef="let item">
        <p class="text-truncate">
            {{item.actualInsuranceDate | date}}
        </p>
    </mat-cell>
</ng-container>

<!-- Buttons Column -->
<ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
        <div fxFlex="row" fxLayoutAlign="center center">


            <div class="button-row">
                <button mat-raised-button class="primary">
                    <mat-icon class="s-16 mr-sm-4">remove_red_eye</mat-icon>
                </button>
                <button mat-raised-button class="orange">
                    <mat-icon class="s-16 mr-sm-4">edit</mat-icon>
                </button>
                <button mat-raised-button class="red">
                    <mat-icon class="s-16 mr-sm-4">delete_forever</mat-icon>
                </button>
                <button mat-raised-button class="blue">
                    <mat-icon class="s-16 mr-sm-4">cloud_upload</mat-icon>
                </button>
              </div>
        </div>

    </mat-cell>
</ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

<mat-row *matRowDef="let order; columns: displayedColumns;" class="order" matRipple>
</mat-row>
</mat-table>

<mat-paginator [length]="totalNumberOfRecords" [pageSize]="100" [pageSizeOptions]="[100,5, 10, 25]">
</mat-paginator>

</div>
