<div id="categories" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Product Category
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #input (keyup)="applyFilter($event.target.value)" placeholder="Search for product category">
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
             <button mat-raised-button (click)="addNewProductCategory()" class="add-product-button fuse-white mt-24 mt-md-0"
                matTooltip="Add new product category.">
                <span>ADD NEW</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="category-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <ng-container matColumnDef="picture">
                    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <img class="product-image"  [src]="item.picture" style="height: 54px !important;;width:74px !important" *ngIf="item.picture"/><span style="color:royalblue;font-weight: bold;cursor: pointer;" (click)="downloadFile(item)" *ngIf="item.imageURL">&nbsp;Download</span>
                        <img class="product-image"  [src]="'assets/images/ecommerce/Image-Not-Available.png'" style="height: 54px !important;width:74px !important" *ngIf="!item.picture"/>
<!--                         <mat-progress-bar mode="query" *ngIf="isUploading"></mat-progress-bar> -->
                    </mat-cell>
                </ng-container>

                <!-- Name routeCode -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name route name -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{item.description}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                        <div fxFlex="row" fxLayoutAlign="center center">
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div fxFlex="row" fxLayoutAlign="center center">
                
                            <div class="button-row">
                                <button mat-raised-button class="yellow  small small-mat-raised-button-small" (click)="viewProductSubCategory(item)" matTooltip="View product sub categories"
                                >
                                    <mat-icon class="small-mat-icon" >device_hub</mat-icon>
                                </button>
                                <button mat-raised-button class="primary  small small-mat-raised-button-small" (click)="view(item)" matTooltip="View product category"
                                >
                                    <mat-icon class="small-mat-icon" >remove_red_eye</mat-icon>
                                </button>
                                <button mat-raised-button class="orange  small small-mat-raised-button-small" (click)="editProductCategory(item)" matTooltip="Edit product category"
                                >
                                    <mat-icon class="small-mat-icon">edit</mat-icon>
                                </button>
                                <button mat-raised-button class="red  small small-mat-raised-button-small" (click)="deleteProductCategory(item)" matTooltip="Delete product category"
                                >
                                    <mat-icon class="small-mat-icon" >delete_forever</mat-icon>
                                </button>
                                <button mat-raised-button class="blue  small small-mat-raised-button-small" (click)="fileInput.click()" matTooltip="Upload product category image"
                                >
                                    <mat-icon class="small-mat-icon">cloud_upload</mat-icon>
                                    <input #fileInput type="file" class="form-control" name="documents" (change)="onFileChange($event,item)" style="display:none;"/>
                                </button>
                              </div>
                        </div>
                
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[50,10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>