<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="container-fluid" style="min-height: 600px !important;">

  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Daily Vehicle Beats</div>
        <br>

        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <p-calendar inputId="basic" [(ngModel)]="selectedData" (onSelect)="dateFilterChanged()"></p-calendar>
          </div>

        </div>


        <div class="card-body" style="overflow-x: auto;">


          <p-table [value]="beats" [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
              <tr>
                <th style="overflow:hidden;width:140px;">
                  <button class="btn btn-dark btn-sm" (click)="addNew()"><span class="fa fa-plus"></span> Add
                    New</button>
                </th>
                <th pSortableColumn="vehicleNumber">Vehicle Number <p-sortIcon field="vehicleNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="route">Route <p-sortIcon field="route"></p-sortIcon>
                </th>
                <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="createdOn">Created On <p-sortIcon field="createdOn"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-beat>
              <tr>
                <td>
                  <!-- <button class="btn btn-danger btn-sm" (click)="delete(item, i)">Delete</button> -->
                  <button class="btn btn-danger btn-sm" (click)="delete(beat)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <button class="btn btn-primary btn-sm ml-2" (click)="edit(beat)"><span class="fa fa-pencil"></span>
                  </button>
                  <button class="btn btn-success btn-sm ml-2">
                    <span class="fa fa-money"></span>
                  </button>
                </td>
                <td>{{beat.vehicleNumber}}</td>
                <td>{{beat.route}}</td>
                <td>{{beat.date | date}}</td>
                <td>{{beat.statusInText}}</td>
                <td>{{beat.createdOn | date}}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{this.selectDailyBeat.id==0? 'Add New Daily Beat':'Update Daily Beat'}}" [(visible)]="displayModal"
  [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <form [formGroup]="dailyBeatForm">


    <div class="row">

      <div class="col-12">
        <div class="form-group row">
          <label for="vehicelType" class="col-sm-4 col-form-label">Assigned Date</label>
          <div class="col-sm-8">
            <p-calendar formControlName="date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <label for="vehicelType" class="col-sm-4 col-form-label">Vehicel No</label>
          <div class="col-sm-8">
            <select id="vehicelType" class="form-control" formControlName="vehicleId">
              <option *ngFor="let item of vehicles" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <label for="productionYear" class="col-sm-4 col-form-label">Route No</label>
          <div class="col-sm-8">
            <select id="productionYear" class="form-control" formControlName="routeId">
              <option *ngFor="let route of routes" [value]="route.id">{{route.name}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-12">
        <div class="form-group row">
          <label for="productionYear" class="col-sm-4 col-form-label">Route No</label>
          <div class="col-sm-8">
            <select id="productionYear" class="form-control" formControlName="status">
              <option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-12">
        <div class="form-group row">
          <label for="registrationNo" class="col-sm-4 col-form-label">Starting Milage</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="registrationNo" formControlName="startingMilage">

          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <label for="registrationNo" class="col-sm-4 col-form-label">End Milage</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="registrationNo" formControlName="endMilage">

          </div>
        </div>
      </div>

    </div>




    <!--     <br>
    <div>
      <button class="btn btn-primary btn-md" (click)="onSubmit()" [disabled]="vehicleRegisterForm.invalid"><span
          class="fa fa-database"></span> Save Data</button>

      <button class="btn btn-secondary btn-md ml-2" (click)="onCancel()">
        <span class="fa fa-backward"></span> Back
      </button>
    </div> -->
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="saveDailyBeat()" label="Save" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancel"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000">
</p-confirmDialog>