<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>

        <form name="routeForm" [formGroup]="subcategoryForm" class="event-form w-100-p" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>ID</mat-label>
                <input matInput name="id" formControlName="id">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Product Category</mat-label>
                <mat-select formControlName="productCategoryId" required>
                    <mat-option *ngFor="let item of productCategories" [value]="item.id" required>
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Product category is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Name</mat-label>
                <input matInput name="name" formControlName="name" required>
                <mat-error>Name is required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Product Category Description" name="description"
                formControlName="description" rows="5" required>
            </textarea>
                <mat-error>Description is required!</mat-error>
            </mat-form-field>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action ==='edit'" mat-button color="primary" class="mr-8"
            (click)="matDialogRef.close(['delete',subcategoryForm])" aria-label="Delete" matTooltip="Delete"  [disabled]="isReadOnly">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button color="primary" class="save-button"
            (click)="matDialogRef.close(subcategoryForm)" [disabled]="subcategoryForm.invalid || isReadOnly" aria-label="ADD">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button color="primary" class="save-button"
            (click)="matDialogRef.close(['save', subcategoryForm])" [disabled]="subcategoryForm.invalid || isReadOnly" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>