<div id="wherehouseAssest" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    Warehouses
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #input
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Search for Warehouse"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                class="add-product-button fuse-white mt-24 mt-md-0"
                matTooltip="Add new route."
                (click)="addNewWarehouse()"
            >
                <span>ADD NEW</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="products-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >ID</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.id }}</p>
                    </mat-cell>
                </ng-container>

                <!--name -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.name }}</p>
                    </mat-cell>
                </ng-container>

                <!--address -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Address</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.address }}</p>
                    </mat-cell>
                </ng-container>

                <!-- phone -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Phone</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.phone }}</p>
                    </mat-cell>
                </ng-container>

                <!-- managerName -->
                <ng-container matColumnDef="managerName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Manager Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.managerName }}</p>
                    </mat-cell>
                </ng-container>

                <!-- floorSpacee -->
                <ng-container matColumnDef="floorSpace">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Floor Space</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.floorSpace }}</p>
                    </mat-cell>
                </ng-container>

                <!-- floorSpacee -->
                <ng-container matColumnDef="createdOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Created On</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.createdOn }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updatedOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Updated On</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.updatedOn }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let item">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="edit"
                                    (click)="editWarehouse(item)"
                                >
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="deleteWarehouse(item)"
                                >
                                    <mat-icon>close</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let product; columns: displayedColumns"
                    class="product"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
