<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>
        <form
            name="clientForm"
            [formGroup]="clientForm"
            class="event-form w-100-p"
            fxLayout="column"
            fxFlex
        >
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Client Name</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="name"
                        formControlName="name"
                        matInput
                        placeholder="Client Name"
                        required
                    />
                    <mat-error>Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="email"
                        formControlName="email"
                        matInput
                        placeholder="Email"
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Contact No 1</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="contactNo1"
                        formControlName="contactNo1"
                        matInput
                        placeholder="Contact No 1"
                    />
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Contact No 2</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="contactNo2"
                        formControlName="contactNo2"
                        matInput
                        placeholder="Contact No 2"
                    />
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Address</mat-label>
                <textarea
                    matInput
                    placeholder="Client Address"
                    name="address"
                    formControlName="address"
                    rows="5"
                    required
                >
                </textarea>
                <mat-error>Address is required!</mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Latitude</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        type="number"
                        name="latitude"
                        formControlName="latitude"
                        matInput
                        placeholder="Latitude"
                    />
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Longitude</mat-label>
                    <mat-icon matSuffix class="secondary-text"
                        >account_circle</mat-icon
                    >
                    <input
                        name="longitude"
                        formControlName="longitude"
                        matInput
                        placeholder="Longitude"
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Priotiry</mat-label>
                    <mat-select formControlName="priority" required>
                        <mat-option
                            *ngFor="let item of priorities"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text"
                        >outlined_flag</mat-icon
                    >
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    fxFlex
                    floatLabel="always"
                    fxFlex="48"
                >
                    <mat-label>Route</mat-label>
                    <mat-select formControlName="routeId" required>
                        <mat-option
                            *ngFor="let item of routes"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text"
                        >outlined_flag</mat-icon
                    >
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Client Notes</mat-label>
                <textarea
                    matInput
                    placeholder="Client notes"
                    name="description"
                    formControlName="description"
                    rows="5"
                >
                </textarea>
            </mat-form-field>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            *ngIf="action === 'edit'"
            mat-button
            color="primary"
            class="mr-8"
            (click)="matDialogRef.close(['delete', clientForm])"
            aria-label="Delete"
            matTooltip="Delete"
        >
            DELETE
        </button>

        <button
            *ngIf="action !== 'edit'"
            mat-button
            color="primary"
            class="save-button"
            (click)="matDialogRef.close(clientForm)"
            [disabled]="clientForm.invalid"
            aria-label="ADD"
        >
            ADD
        </button>

        <button
            *ngIf="action === 'edit'"
            mat-button
            color="primary"
            class="save-button"
            (click)="matDialogRef.close(['save', clientForm])"
            [disabled]="clientForm.invalid"
            aria-label="SAVE"
        >
            SAVE
        </button>
    </div>
</div>
