<div class="content-card" style="width: 100% !important">
    <mat-table
        #table
        [dataSource]="dataSource"
        matSort
        [@animateStagger]="{ value: '50' }"
    >
        <!-- Expense Category Column -->
        <ng-container matColumnDef="expenseCategoryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header
                >Expense Category</mat-header-cell
            >
            <mat-cell *matCellDef="let expense">
                <p class="text-truncate font-weight-600">
                    {{ expense.routeName }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef>
                <div fxFlex="row" fxLayoutAlign="center center"></div>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div class="button-row">
                        <button
                            mat-raised-button
                            class="primary small small-mat-raised-button-small"
                            (click)="view(item)"
                            matTooltip="View daily route"
                        >
                            <mat-icon class="small-mat-icon"
                                >remove_red_eye</mat-icon
                            >
                        </button>
                        <button
                            mat-raised-button
                            class="orange small small-mat-raised-button-small"
                            (click)="editDailyBeat(item)"
                            matTooltip="Edit daily route"
                            [disabled]="item.status != 1 && item.status != 2"
                        >
                            <mat-icon class="small-mat-icon">edit</mat-icon>
                        </button>
                        <button
                            mat-raised-button
                            class="red small small-mat-raised-button-small"
                            (click)="deleteDailyBeat(item)"
                            matTooltip="Delete daily route"
                            [disabled]="item.status != 1"
                        >
                            <mat-icon class="small-mat-icon"
                                >delete_forever</mat-icon
                            >
                        </button>
                        <button
                            mat-raised-button
                            class="yellow small small-mat-raised-button-small"
                            (click)="manageSalesOrder(item)"
                            matTooltip="Manage sale order for daily route"
                        >
                            <mat-icon class="small-mat-icon"
                                >monetization_on</mat-icon
                            >
                        </button>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
            *matRowDef="let beat; columns: displayedColumns"
            class="contact"
            [@animate]="{ value: '*', params: { y: '100%' } }"
        >
        </mat-row>
    </mat-table>

    <mat-paginator
        #paginator
        [length]="dataSource.totalRecord"
        [pageIndex]="0"
        [pageSize]="25"
        [pageSizeOptions]="pageSizes"
    >
    </mat-paginator>
</div>
