<div class="container-fluid" style="min-height: 600px !important;">
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <p-calendar inputId="basic" [(ngModel)]="date1"></p-calendar>
        </div>
      </div>



    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Vehicles</div>
        <div class="card-body" style="overflow-x: auto;">
          <!--                   <table class="table" style="table-layout: fixed;">
                      <thead>
                          <tr>
                              <th style="overflow:hidden;width:140px;">
                                  <button class="btn btn-dark btn-sm" (click)="edit(0)"><span
                                          class="fa fa-plus"></span> Add New</button>
                              </th>
                              <th style="overflow:hidden;width:100px;">Id</th>
                              <th style="overflow:hidden;width:200px;">Registration No</th>
                              <th style="overflow:hidden;width:200px;">Vehicel Type</th>
                              <th style="overflow:hidden;width:250px;">Initial Odometer Reading</th>
                              <th style="overflow:hidden;width:200px;">Year</th>
                              <th style="overflow:hidden;width:200px;">Is Active</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of rowData; let i = index">
                              <td>
                                  <button class="btn btn-danger btn-sm" (click)="delete(item.id, i)">
                                      <span class="fa fa-trash"></span>
                                  </button>
                                  <button class="btn btn-primary btn-sm ml-2" (click)="edit(item.id)"><span
                                          class="fa fa-pencil"></span>
                                  </button>
                                  <button class="btn btn-success btn-sm ml-2">
                                      <span class="fa fa-money"></span>
                                  </button>
                              </td>
                              <td>{{item.id}}</td>
                              <td>{{item.registrationNo}}</td>
                              <td>{{item.vehicelTypeName}}</td>
                              <td>{{item.initialOdometerReading}}</td>
                              <td>{{item.productionYear}}</td>
                              <td>{{item.isActive}}</td>
                          </tr>
                      </tbody>
                  </table> -->
        </div>
      </div>

      <!--           <br>
          <div class="row m-1">
              <ngb-pagination [collectionSize]="totalRecordCount" [(page)]="currentPage" [pageSize]="pageSize"
                  [maxSize]="8" (pageChange)="onPageChange()" aria-label="Default pagination">
              </ngb-pagination>
          </div> -->


    </div>
  </div>
</div>

<!-- <app-vehicle-detail></app-vehicle-detail> -->