@import "src/@fuse/scss/fuse";

.route-form-dialog {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 100%;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}

.po-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
        min-height: 64px;
    }

    .order {
        position: relative;
        cursor: pointer;
        height: 64px;
    }

    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
    }

    .mat-column-productName {
        flex: 0 1 20%;
        font-size: 12px;
    }

    .mat-column-dateOfExpiration {
        flex: 0 1 20%;
        font-size: 12px;
    }

    .mat-column-batchNo {
        flex: 0 1 15%;
        font-size: 12px;
    }

    .mat-column-totalOrderedQty {
        flex: 0 1 15%;
        font-size: 12px;
    }

    .mat-column-alreadyRecievedQty {
        flex: 0 1 15%;
        font-size: 12px;
    }

    .mat-column-currentReceivedQty {
        flex: 0 1 15%;
        font-size: 12px;
    }

    /*     .mat-column-image {
        flex: 0 1 84px;

        .product-image {
            width: 52px;
            height: 52px;
            border: 1px solid rgba(0, 0, 0, 0.12);
        }
    } */

    .quantity-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;

        & + span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .active-icon {
        border-radius: 50%;
    }

    .mat-input-element {
        font-size: 13px !important;
    }

    .mat-form-field {
        width: 90% !important;
    }

    /*     .mat-form-field-infix {
        height: 20px !important;
    }

    .mat-input-element {
        padding-bottom: 15px !important;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    } */
}
