<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-0">
        <div class="card-header">
          {{vehicleId === 0? "Vehicle Detail: New" : "Edit Existing Vehicle Detail"}}
        </div>
        <div class="card-body">
          <form [formGroup]="vehicleRegisterForm">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="registrationNo" class="col-sm-4 col-form-label">Registration No</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="registrationNo" formControlName="registrationNo">
                    <div class="alert alert-danger" style="margin-top: 1px;"
                      *ngIf="registrationNo.touched && registrationNo.invalid">
                      Vehicle registration no required.
                    </div>
                    <div *ngIf="vehicleRegisterForm.errors?.vehicleNoInUse" class="alert alert-danger">
                      Vehicle number already registered.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="initialOdometerReading" class="col-sm-4 col-form-label">Initial Odometer Reading</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="InitialOdometerReading"
                      formControlName="initialOdometerReading">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="vehicelType" class="col-sm-4 col-form-label">Vehicel Type</label>
                  <div class="col-sm-8">
                    <select id="vehicelType" class="form-control" formControlName="vehicelType">
                      <option *ngFor="let vt of vehicleTypes" [value]="vt.id">{{vt.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="productionYear" class="col-sm-4 col-form-label">Production Year</label>
                  <div class="col-sm-8">
                    <select id="productionYear" class="form-control" formControlName="productionYear">
                      <option *ngFor="let year of productionYears" [value]="year.id">{{year.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="isActive" class="col-sm-4 col-form-label">IsActive</label>
                  <div class="col-sm-8">
                    <select id="isActive" class="form-control" formControlName="isActive">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6">

              </div>
            </div>


            <br>
            <div>
              <button class="btn btn-primary btn-md" (click)="onSubmit()"
                [disabled]="vehicleRegisterForm.invalid"><span class="fa fa-database"></span> Save Data</button>

              <button class="btn btn-secondary btn-md ml-2" (click)="onCancel()">
                <span class="fa fa-backward"></span> Back
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>