<div class="content-card" style="width: 100% !important;">
    <mat-table #table [dataSource]="dataSource" matSort
    [@animateStagger]="{value:'50'}">


<!-- Avatar Column -->
<ng-container matColumnDef="image">
 <mat-header-cell *matHeaderCellDef></mat-header-cell>
 <mat-cell *matCellDef="let user">
     <img class="avatar" [alt]="user.name"
          [src]="'assets/images/avatars/profile.jpg'"/>
 </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="firstName">
 <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
 <mat-cell *matCellDef="let contact">
     <p class="text-truncate font-weight-600">{{contact.firstName}} {{contact.lastName}}</p>
 </mat-cell>
</ng-container>

<!-- Roles Column -->
<ng-container matColumnDef="roleText">
    <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-sm>Roles</mat-header-cell>
    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
        <p class="email text-truncate">
            {{contact.roleText}}
        </p>
    </mat-cell>
   </ng-container>

<!-- Email Column -->
<ng-container matColumnDef="email">
 <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-sm>Email</mat-header-cell>
 <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
     <p class="email text-truncate">
         {{contact.email}}
     </p>
 </mat-cell>
</ng-container>

<!-- Phone Column -->
<ng-container matColumnDef="mobileNo">
 <mat-header-cell *matHeaderCellDef  mat-sort-header fxHide fxShow.gt-md>Phone</mat-header-cell>
 <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
     <p class="phone text-truncate">
         {{contact.mobileNo}}
     </p>
 </mat-cell>
</ng-container>





<!-- Buttons Column -->
<ng-container matColumnDef="buttons">
 <mat-header-cell *matHeaderCellDef></mat-header-cell>
 <mat-cell *matCellDef="let contact">
     <div fxFlex="row" fxLayoutAlign="end center">


         <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                 (click)="$event.stopPropagation();">
             <mat-icon class="secondary-text">more_vert</mat-icon>
         </button>

         <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" (click)="editUser(contact)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
             <button mat-menu-item aria-label="remove" (click)="deleteUser(contact)">
                 <mat-icon>delete</mat-icon>
                 <span>Remove</span>
             </button>
         </mat-menu>
     </div>

 </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let contact; columns: displayedColumns;"
      class="contact"
      (click)="editContact(contact)"
      [@animate]="{value:'*',params:{y:'100%'}}">
</mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
[pageSizeOptions]="[25, 50, 75, 100]">
</mat-paginator>
</div>



