<div id="products" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    Products
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #input
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Search for product"
                    />
                </div>
            </div>

            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                (click)="addNew()"
                class="add-product-button fuse-white mt-24 mt-md-0"
                matTooltip="Add new product sub category."
            >
                <span>ADD NEW</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="products-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <ng-container matColumnDef="defaultImage">
                    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <img
                            class="product-image"
                            [src]="item.defaultImage"
                            style="
                                height: 54px !important;
                                width: 74px !important;
                            "
                            *ngIf="item.defaultImage"
                        />
                        <img
                            class="product-image"
                            [src]="
                                'assets/images/ecommerce/Image-Not-Available.png'
                            "
                            style="
                                height: 54px !important;
                                width: 74px !important;
                            "
                            *ngIf="!item.defaultImage"
                        />
                        <!--                         <mat-progress-bar mode="query" *ngIf="isUploading"></mat-progress-bar> -->
                    </mat-cell>
                </ng-container>

                <!-- name -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.name }}</p>
                    </mat-cell>
                </ng-container>

                <!-- SKU -->
                <ng-container matColumnDef="productCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >SKU</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.productCode }}</p>
                    </mat-cell>
                </ng-container>

                <!-- availableQty -->
                <ng-container matColumnDef="availableQty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Available Qty</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.availableQty }}</p>
                    </mat-cell>
                </ng-container>

                <!-- availableQty -->
                <ng-container matColumnDef="minOrderQty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Min Order Qty</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.minOrderQty }}</p>
                    </mat-cell>
                </ng-container>

                <!-- availableQty -->
                <ng-container matColumnDef="maxOrderQty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Max Order Qty</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.maxOrderQty }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="categoryName">
                    <mat-header-cell
                        *matHeaderCellDef
                        style="padding: 5px !important"
                    >
                        <mat-form-field appearance="outline" class="w-100-p">
                            <mat-label>Product Category</mat-label>
                            <mat-select
                                [(ngModel)]="selectedCategoryId"
                                (selectionChange)="
                                    productCategoryChanged($event.value)
                                "
                                required
                            >
                                <mat-option
                                    *ngFor="let item of categories"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">
                            {{ item.categoryName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subCategoryName">
                    <mat-header-cell
                        *matHeaderCellDef
                        style="padding: 5px !important"
                    >
                        <mat-form-field appearance="outline" class="w-100-p">
                            <mat-label>Product Sub Category</mat-label>
                            <mat-select
                                [(ngModel)]="selectedSubCategoryId"
                                (selectionChange)="filterChanged($event.value)"
                                required
                            >
                                <mat-option
                                    *ngFor="let item of subCategories"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">
                            {{ item.subCategoryName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitPrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Unit Price</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.unitPrice }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>
                        <div fxFlex="row" fxLayoutAlign="center center">
                            <!--                             <div class="button-row">
                                <button mat-raised-button class="green" (click)="addNewProductCategory()">
                                    <mat-icon class="s-16 mr-sm-4">add</mat-icon>
                                </button>
                
                              </div> -->
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div fxFlex="row" fxLayoutAlign="center center">
                            <div class="button-row">
                                <button
                                    mat-raised-button
                                    class="
                                        yellow
                                        small small-mat-raised-button-small
                                    "
                                    (click)="viewProduct(item)"
                                    matTooltip="View product inventory detial"
                                >
                                    <mat-icon class="small-mat-icon"
                                        >device_hub</mat-icon
                                    >
                                </button>
                                <button
                                    mat-raised-button
                                    class="
                                        primary
                                        small small-mat-raised-button-small
                                    "
                                    (click)="view(item)"
                                    matTooltip="View product"
                                >
                                    <mat-icon class="small-mat-icon"
                                        >remove_red_eye</mat-icon
                                    >
                                </button>
                                <button
                                    mat-raised-button
                                    class="
                                        orange
                                        small small-mat-raised-button-small
                                    "
                                    (click)="edit(item)"
                                    matTooltip="Edit product"
                                >
                                    <mat-icon class="small-mat-icon"
                                        >edit</mat-icon
                                    >
                                </button>
                                <button
                                    mat-raised-button
                                    class="
                                        red
                                        small small-mat-raised-button-small
                                    "
                                    (click)="delete(item)"
                                    matTooltip="Delete product"
                                >
                                    <mat-icon class="small-mat-icon"
                                        >delete_forever</mat-icon
                                    >
                                </button>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let product; columns: displayedColumns"
                    class="product"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
